h1 {
    margin: auto;
    width: 60%;
    padding: 10px;
    color:red;
    font:italic;

}

.accordion {
width: auto;
width: 70%;
text-align:left;
background-color:salmon;

}

.accordion-button {
    width: auto;
    width: 70%;
    text-align:center;
    background-color:salmon;
    
    }


.card {
    margin: auto;
width: 60%;
border: 5px solid #FFFF00;
padding: 10px;
}